.image-container {
  :hover {
    cursor: pointer;
  }
}

.fullscreen {
  position: absolute;
  left: 0;
  width: auto;
  height: 100vh;
}

.image {
  height: auto;
  width: 100%;
}

.placeholder {
  width: 100%;
  padding-top: 66.6%;
  background-color: orange;
}
