@let _fullSrc = fullSrc(); @let _isLoading = isLoading(); @if(_fullSrc) {
<div
  class="image-container"
  [ngClass]="{ fullscreen: isFullScreen() }"
  (click)="click()"
>
  @if(_isLoading) {
  <div class="placeholder">
    <!-- <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="cube-transition"
      [fullScreen]="false"
    ></ngx-spinner> -->
  </div>
  }

  <img
    class="image"
    [src]="fullSrc()"
    priority="low"
    loading="lazy"
    (load)="onLoad()"
  />
</div>

}
